Repository cloudfoundry/cf-java-client, pull requests merged in 2021-06, with the labels that each got.

#1085 Use long instead of integer
  cloudfoundry-client-reactor/src/test/java/org/cloudfoundry/reactor/client/v3/applications/ReactorApplicationsV3Test.java
  cloudfoundry-client-reactor/src/test/java/org/cloudfoundry/reactor/client/v3/processes/ReactorProcessesTest.java
  cloudfoundry-client/src/main/java/org/cloudfoundry/client/v3/processes/ProcessStatistics.java
Labels: bug, client, triaged

#1088 Add support for V3 Stacks
  cloudfoundry-client-reactor/src/main/java/org/cloudfoundry/reactor/client/_ReactorCloudFoundryClient.java
  cloudfoundry-client-reactor/src/main/java/org/cloudfoundry/reactor/client/v3/stacks/ReactorStacksV3.java
  cloudfoundry-client-reactor/src/test/java/org/cloudfoundry/reactor/client/v3/stacks/ReactorStacksV3Test.java
  cloudfoundry-client-reactor/src/test/resources/fixtures/client/v3/stacks/GET_response.json
  cloudfoundry-client-reactor/src/test/resources/fixtures/client/v3/stacks/GET_{id}_response.json
  cloudfoundry-client-reactor/src/test/resources/fixtures/client/v3/stacks/PATCH_{id}_request.json
  cloudfoundry-client-reactor/src/test/resources/fixtures/client/v3/stacks/PATCH_{id}_response.json
  cloudfoundry-client-reactor/src/test/resources/fixtures/client/v3/stacks/POST_request.json
  cloudfoundry-client-reactor/src/test/resources/fixtures/client/v3/stacks/POST_response.json
  cloudfoundry-client/src/main/java/org/cloudfoundry/client/CloudFoundryClient.java
  cloudfoundry-client/src/main/java/org/cloudfoundry/client/v3/stacks/Stack.java
  cloudfoundry-client/src/main/java/org/cloudfoundry/client/v3/stacks/StacksV3.java
  cloudfoundry-client/src/main/java/org/cloudfoundry/client/v3/stacks/_CreateStackRequest.java
  cloudfoundry-client/src/main/java/org/cloudfoundry/client/v3/stacks/_CreateStackResponse.java
  cloudfoundry-client/src/main/java/org/cloudfoundry/client/v3/stacks/_DeleteStackRequest.java
  cloudfoundry-client/src/main/java/org/cloudfoundry/client/v3/stacks/_GetStackRequest.java
  cloudfoundry-client/src/main/java/org/cloudfoundry/client/v3/stacks/_GetStackResponse.java
  cloudfoundry-client/src/main/java/org/cloudfoundry/client/v3/stacks/_ListStacksRequest.java
  cloudfoundry-client/src/main/java/org/cloudfoundry/client/v3/stacks/_ListStacksResponse.java
  cloudfoundry-client/src/main/java/org/cloudfoundry/client/v3/stacks/_StackResource.java
  cloudfoundry-client/src/main/java/org/cloudfoundry/client/v3/stacks/_UpdateStackRequest.java
  cloudfoundry-client/src/main/java/org/cloudfoundry/client/v3/stacks/_UpdateStackResponse.java
  cloudfoundry-client/src/test/java/org/cloudfoundry/client/v3/stacks/CreateStackRequestTest.java
  cloudfoundry-client/src/test/java/org/cloudfoundry/client/v3/stacks/DeleteStackRequestTest.java
  cloudfoundry-client/src/test/java/org/cloudfoundry/client/v3/stacks/GetStackRequestTest.java
  integration-test/src/test/java/org/cloudfoundry/client/v3/StacksTest.java
Labels: client, triaged

#1107 Use Double.valueOf instead of new Double.
  cloudfoundry-client/src/test/java/org/cloudfoundry/client/v3/applications/GetApplicationProcessStatisticsRequestTest.java
Labels: bug
